.search {
  border-color: #000000;
  border-left-style: solid;
  border-left-width: 0px;
  height: 810px;
  position: relative;
  width: fit-content;
  flex-direction: column;
  display: flex;
  overflow: hidden;
}

.search-item{
  width: 400px;
  height: fit-content;
  display: flex;
  justify-content:left;
}

.search-list{
  display: flex;
  gap: 5px;
  flex: 1;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}

.search-list::-webkit-scrollbar {
  display: none;
  width: 0;
}