
.estatescreen {
  background-color: #ffffff;
  border-radius: 16px;
  height: 861px;
  overflow-y: auto;
  position: relative;
  width: 360px;
  padding-top: 52px; /* 또는 margin-top: 52px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1);
}

.estatescreen .estateview {
  height: 806px;
  left: 0;
  overflow: scroll;
  position: absolute;
  top: 53px;
  width: 360px;
}

.estatescreen .estateview::-webkit-scrollbar {
  display: none;
  width: 0;
}

.estatescreen .estate-group-wrapper {
  background-color: #ffffff;
  height: 1011px;
  overflow-y: scroll;
  width: 360px;
}

.estatescreen .estate-group-wrapper::-webkit-scrollbar {
  display: none;
  width: 0;
}

.estatescreen .estateoverlap-group {
  height: 809px;
  position: relative;
  width: 360px;
}

.estatescreen .estatebg {
  width: 360px;
  height: 346px;

  background-color: #3b81f5;
  height: 346px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 360px;
}

.estatescreen .estate-main-frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: fit-content;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;

}

.estatescreen .usertitle {
  align-items: center;
  align-self: stretch;
  background-color: #3b81f5;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  padding: 0px 20px;
  position: relative;
  width: 100%;
}

.estatescreen .estatehorizontal-border {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-color: #ffffff;
  height: 40px;
  position: relative;
  width: 26.78px;
}

.estatescreen .estatetext-wrapper-25 {
  color: #ffffff;
  font-family: "SUIT-Regular", Helvetica;
  font-size: 15.8px;
  font-weight: 100;
  height: 26px;
  left: 0;
  letter-spacing: -0.60px;
  line-height: 26px;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
}

.close-svg-fill-wrapper {
  background-color: #ffffff;
  border-radius: 16px 16px 0px 0px;
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 360px;
}

.close-svg-fill-instance {
  left: 15px !important;
  top: 15px !important;
}

.property-list{
  height: fit-content;
  margin-bottom: 30px;
}